<html>
  <head>
    <title>Advice From Klortho</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <p class="advice">[% advice %]<br>
      <span class="link"><a href="/?n=[% n %]">LINK</a></span></p>
    <div class="nav">
      <a href="/wtf">WTF</a>
    </div>
  </body>
</html>
