<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HRNPLNZ65S"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-EY48YV1H0M');
    </script>
    <title>Advice From Klortho</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <p class="advice">[% advice %]<br>
      <span class="link"><a href="/?n=[% n %]">LINK</a></span></p>
    <div class="nav">
      <a href="/wtf">WTF</a>
    </div>
  </body>
</html>
